.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

.content {
  margin: auto;
  width: 100%;
  max-width: 1024px;
  padding-left: 0px;
  padding-right: 0px;
}

#main-content {
  padding: 0px;
  margin: 0px auto;
  width: 100%;
  max-width: 750px;
}

#choreListManipulation:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

#newChore {
  float: right;
}

#choresList {
  text-align: center;
  border-collapse: collapse;
  border: 1px solid;
  margin: 20px auto;
  width: 100%;
}

#choresList tr {
  border-bottom: 1px solid;
}

#choresList td, th {
  padding: 15px 5px;
  height: 50px;
}

#paginationButtons {
  text-align: center;
}

#paginationButtons button:not(.currentPage) {
  background-color: white;
  border: none;
  color: black;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  border-radius: 6px;
}

#paginationButtons button:not(.currentPage):hover {
  background-color: lightgray;
  border-color: lightgray;
}

#paginationButtons button {
  border: none;
}

#paginationButtons button:focus {
  box-shadow: none;
}

form label {
  font-size: calc(1rem + .3vw);
  margin-bottom: 0.5rem;
  display: block;
}

form legend {
  font-size: calc(1rem + .3vw);
}

form div, form fieldset {
  margin-bottom: 10px;
}

form .p-inputtext {
  margin-right: 12px;
}

form .p-dropdown, form .p-inputtext {
  width: 100%;
}

@media screen and (min-width: 500px) {
  form .p-dropdown, form .p-inputtext {
    width: 250px;
  }
}

#cancelButton {
  margin-right: 12px;
  background-color: #6c757d;
  border-color: #6c757d;
}

#cancelButton:focus {
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #6c757d, 0 1px 2px 0 rgb(0 0 0 / 0%);
}

.p-dropdown-panel {
  z-index: 9999 !important;
}

#dropdownMenuContainer, #dropdownMenuContainer button {
  float: right;
}

#dropdownMenu {
  list-style: none;
}
