.centered-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.user-form-text-input {
  width: 350px;
  margin-bottom: 15px !important;
}

.small-caption-text {
  font-size: 12px;
  color: #999;
}

.inline-link {
  display: inline-block;
  text-decoration: none;
  color: #4338CA;
}
