@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700;900&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.centered-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.user-form-text-input {
  width: 350px;
  margin-bottom: 15px !important;
}

.small-caption-text {
  font-size: 12px;
  color: #999;
}

.inline-link {
  display: inline-block;
  text-decoration: none;
  color: #4338CA;
}

.field-validation-note {
  font-size: 12px;
  margin-top: -10px;
  text-align: left;
  display: block;
}