name: Docker Compose Actions Workflow
run-name: Docker build & push

on:
  push:
    branches: [CK-49-docker-image-push, develop]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2

      - name: Log into Docker Hub
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build docker compose
        run: docker-compose build

      - name: Push images to dockerhub
        run: docker-compose push
