# This workflow will run tests using node
name: Unit tests

on:
  pull_request:
    branches: [develop]
  push:
    branches: [develop]

jobs:
  backend_unit_tests:
    runs-on: windows-latest

    strategy:
      matrix:
        node-version: [18.x]
    defaults:
      run:
        working-directory: ./server

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: npm install
        run: npm install
      - name: tests
        run: npm test
